{% extends "base.html" %}

{% block content %}
<div>
  <form
      onsubmit="auth(event)"
      method="post" action="/login/">
    {% include "accounts/_login_form_fields.html" %}
    <button type="submit" class="btn btn-primary">
        Sign in
    </button>
  </form>
<h1>Hello World!</h1>
</div>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript">
const API_URL = "https://livedemo.djaoapp.com/api";
</script>
<script type="text/javascript" src="/static/js/auth.js"></script>
{% endblock %}
